.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  h1 {
    font-family: 'Poppins' , sans-serif;
    font-size: 1.2vw;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: 'Poppins' , sans-serif;
  font-weight: 400;
  width: 50%;
  font-size: 1.1vw;
}

input, select, button, textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  transition: background-color 0.3s;
  font-weight: 800;
  cursor: pointer;
  &:hover {
    background-color: darkgreen;
  }
}

.error {
  font-family: 'Poppins' , sans-serif;
  font-size: 0.8vw;
  color: red;
}

.link {
  font-family: 'Poppins' , sans-serif;
  text-decoration: none;
  background-color: dodgerblue;
  padding: 5px;
  color:#fff;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken(dodgerblue, 10);
    transition: background-color .5s;
  }
}
.checkbox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  width: 80%;
  align-items: center;
font-size: 1.1vw;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.ldsdualring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.ldsdualring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}