
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.logoWealthHealth {
  width: 60px;
  height: auto;
}

.footerText {
  text-align: right;
  font-family: 'Poppins', sans-serif;
  color: #151515;
}

.copyright {
  font-size: 12px;
  color: #aaa;
  text-align: center;
}
